.x {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: gray	;
  font-size: 18px;
  font-style: normal;
  border-radius: 5px;
  width: 20%;
  border: 1px solid gray	;
  border-width: 1px 1px 3px;

}

