form {
  margin: 23px auto;
  padding: 10px 20px;
  background: #fafafa;
  border-radius: 8px;
  width: 600px;
  height: 50px;
   
  
}
body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}
h1 {
  text-align: center;
  border-radius: 5px;
    padding: 19px 39px 18px 39px;

}
button {
  padding: 19px 39px 18px 39px;
  color: black;
  background-color: #c0c0c085	;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 20%;
  border: 1px solid #c0c0c085	;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  
}
em{
  color: orangered;
}
