<section  id="blog">
    <div class="container">
        <div >
            <div class=" text-center" style="background-color: #c0c0c085 ;color: black;width: 100%;">
                <div class="section-title">
                    <h2 style="color: white;" >News</h2>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="#">
                            <img src="./assets/front/img/banner/ETCB.png" style="height: 120px;width:200px" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">COMMENT L’IA DEVIENT UN OUTIL APPROPRIÉ EN RÉPONSE À L’ÉPIDÉMIE MONDIALE – COVID-19</a></h5>
                        <p>COVID-19 peut être considéré comme la plus grave pandémie de 
                
                        </p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                                
                            </a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" class="text-info"> 
                                <i class="fas fa-pencil-alt"></i>
                            </a> &nbsp;
                            <a href="#" class="text-danger">
                                <i  class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="#">
                            <img src="./assets/front/img/banner/ETCB.png" style="height: 120px;width:200px" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">COMMENT CRÉER UN CAHIER DES CHARGES POUR VOTRE SITE WEB ?</a></h5>
                        <p>Un projet de création de site web nécessite indubitablement la rédaction d’un cahier des charges.  </p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                        
                            </a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" class="text-info">
                                <i class="fas fa-pencil-alt"></i>
                            </a> &nbsp;
                            <a href="#" class="text-danger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-grid">
                    <div class="blog-img">
                        <a href="#">
                            <img src="./assets/front/img/banner/ETCB.png" style="height: 120px;width:200px" title="" alt="">
                        </a>
                    </div>
                    <div class="blog-info">
                        <h5><a href="#">CYBERATTAQUE ET GUERRE NUMÉRIQUE : QUEL IMPACT?</a></h5>
                        <p>L’invasion russe de l’Ukraine par exemple ne se déroule pas seulement sur le champ de bataille :  </p>
                        <div class="btn-bar">
                            <a href="#" class="px-btn-arrow">
                                <span>Read More</span>
                                <i class="arrow"></i>
                        
                            </a> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="#" class="text-info">
                                <i class="fas fa-pencil-alt"></i>
                            </a> &nbsp;
                            <a href="#" class="text-danger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>